node_modules
**/*.d.ts
**/*.js
!example.js
coverage
.nyc_output
**/test/data/*
**/test/**/e2eData/*
**/coverage
**/.nyc_output
lerna.json
.github
.eslintignore
.eslintrc.js
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
codecov.yml
.prettierrc.json
package.json
package-lock.json
tsconfig.json
.idea
.mocharc.json
**/test/data/**/*
