.logo {
  height: 7em;
  padding-top: 20px;
  will-change: filter;
  transition: filter 300ms;
  padding-left: 60px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fields {
  padding-bottom: 5px;
}

.center-items {
  flex-direction: row;
  display: flex;
  place-content: center;
}